.navbar{
    background-image: linear-gradient(to right bottom, #1a759f, #0087a6, #0098a6, #25a7a2, #52b69a);
}
.navbar  li{
    margin-right : 6em;
    font-family: "Poppins",sans-serif;
    font-size:1.2em;
    font-weight : 800;
    letter-spacing : 2px;
    text-transform: uppercase;

}
form{
    padding:10px !important;
}

.navbar li a {
    color : #184e77 !important;
      z-index: 1;
      position: relative;
  }

.navbar li a::after {
    content: "";
    position: absolute;
    left: -0.1px;
    right: -0.1px;
    bottom: 0;
    height: 30%;
    z-index: -1;
    transform: scaleY(.3);
    transition: transform 300ms ease-in-out;
    transform-origin: bottom;
    background-color: #99d98c;

}

.navbar li a:hover::after {
    transform: scaleY(3);
}
.active{
    background-color: #99d98c;
}

.dictionaryContainer{
    height:fit-content;
    width:30%;
    margin:10px;
    background-color : #C7601A;
    border-radius : 10px;
    padding:20px;
    color : #FEE7D8;

    
    
}
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
    background-color: #FEE7D8;
}


.dictionary{
    text-align:center;
    font-size:1.5em;
    font-family: "Poppins",sans-serif;
    letter-spacing:1px;
}
.word{
    border-radius: 10px;
    padding:5px;
    outline : 0;
    border:none;
}
.btn{
    background-color :#577C7D;
}
#weatherSearch{
    display:flex;
    width:50%;
}

.weather{
    display:flex;
    justify-content : center;
    align-items: center;
    padding:10px;
    position:relative;
}
.container{
    width:300px;
    height: 70vh;
    justify-content:flex-end;
    position:absolute;
    left:80%;
    background-color : #3E3148;
    top:7%;
    border-radius:5px;
}
.location p{
    font-size: 1.5em;
    font-weight : 700;
    margin: 0;
    color: #577C7D;
    text-align: center;
}

.temperature-description p{
    padding: 8px;
    margin: 0;
    color: #577C7D;
    text-align: center;
    font-size: 2em;
}
.title p{
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    font-size: 2em;
    color: #577C7D;
    text-transform: uppercase;
}
.temperature-value span{
    color: #577C7D;
    font-size: 1em;
    text-align : center;
    text-transform: uppercase;

}
.temperature-value{
    width: 250px;
    color : #577C7D;
    font-size: 6em;
    text-align : center;
    margin:10px;
    text-transform: uppercase;
}
.error{
    color:red;
    text-align: center;
    font-size : 1.5em;
}
 h2{
     margin:10px;
     margin-bottom:20px;
     font-family:"Poppins";
     letter-spacing:3px;
     font-weight:800;
     width:fit-content;
     text-transform : uppercase;
     box-shadow: 0px 5px 3px 1px #FEE7D8;
 }

.calendar{
    position:absolute;
    margin:10px;
    width:55% ;
    left:22%;
    top:7%;
    height:100vh;
}
.noteContainer{
    position:absolute;
    width:60%;
    left:35%;
    top:15.5%;
    background-color : #312244;
    padding:10px !important;
    margin:10px;
   color: #fae0e4;

}
.card{
    background-color : #006466;

}
#addBtn{
    border : none;
    margin:10px;
    background-color : #212f45 !important;
}
#addBtn:hover, #addBtn:active{
    border : none;
    color : #144552 !important;
    background-color : white !important;
}

.tit{
    position:absolute;
    margin:10px;
    left:40%;
    top:8%;
    z-index : 1;
     margin-bottom:20px;
     font-family:"Poppins";
     letter-spacing:3px;
     font-weight:800;
     width:fit-content;
     text-transform : uppercase;
     box-shadow: 0px 5px 3px 1px #FEE7D8;
}